<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Damo5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowProductServlet</display-name>
    <servlet-name>ShowProductServlet</servlet-name>
    <servlet-class>com.chinasoft.app.servlet.ShowProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductServlet</servlet-name>
    <url-pattern>/ShowProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.chinasoft.app.servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharactorFilter</display-name>
    <filter-name>CharactorFilter</filter-name>
    <filter-class>com.chinasoft.app.filter.CharactorFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharactorFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>MultiUploadServlet</display-name>
    <servlet-name>MultiUploadServlet</servlet-name>
    <servlet-class>com.chinasoft.app.servlet.MultiUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiUploadServlet</servlet-name>
    <url-pattern>/MultiUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownLoadServlet</display-name>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>com.chinasoft.app.servlet.DownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/DownLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartItemServlet</display-name>
    <servlet-name>AddCartItemServlet</servlet-name>
    <servlet-class>com.chinasoft.app.servlet.AddCartItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartItemServlet</servlet-name>
    <url-pattern>/AddCartItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearCartServlet</display-name>
    <servlet-name>ClearCartServlet</servlet-name>
    <servlet-class>com.chinasoft.app.servlet.ClearCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearCartServlet</servlet-name>
    <url-pattern>/ClearCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartItemServlet</display-name>
    <servlet-name>DeleteCartItemServlet</servlet-name>
    <servlet-class>com.chinasoft.app.servlet.DeleteCartItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartItemServlet</servlet-name>
    <url-pattern>/DeleteCartItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatOrderServlet</display-name>
    <servlet-name>CreatOrderServlet</servlet-name>
    <servlet-class>com.chinasoft.app.servlet.CreatOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatOrderServlet</servlet-name>
    <url-pattern>/CreatOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.chinasoft.app.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>